<div align="center">
  <div>
    <h2>memesMail</h2>
  </div>

  <div>
    <md-input-container> <label>Username</label>

      <input
        ng-model="lc.inputs.username"
      />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <label>Password</label>

      <input
        ng-model="lc.inputs.password"
        type="password"
      />
    </md-input-container>
  </div>

  <div>
    <md-button
      ng-click="lc.buttons.signIn()"
      class="md-raised"
    >Sign In
    </md-button>
    <md-button
      ng-click="lc.buttons.register()"
    >Register
    </md-button>
  </div>
</div>
